.footer {
  margin: 0 auto;
  max-width: 768px;
}
.navigation {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0 auto;
  &_year {
    display: flex;
    justify-content: space-between;
    width: 170px;
    a {
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 50px;

      color: #000000;
    }
  }
  &_rss {
    padding-left: 0px;
    align-content: center;
    a {
      text-decoration: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 50px;

      color: #000000;
    }
  }
  &_social {
    display: flex;
    justify-content: space-between;
    width: 228px;
    padding-left: 0px;
  }
}
.footer_li {
  list-style: none;
}
@media (max-width:380px) {
  .footer {
    background-color: #fff;
  }
}