.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  background: #edf2ec;

  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  &_logo {
    padding-right: 540px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 110px;
  }

  &_navigation {
    display: flex;
    align-items: center;

  }

  &_ul {
    //padding-top: 34px;
    margin-bottom: 0px;
  }
  &_navbar {
    display: flex;
    width: 452px;
  }
  &_li {
    display: inline-block;
    padding: 0 18px;
  }
  &_link {
    text-decoration: none;
    color: #010201;
  }
  &_link:hover {
    color: #e06733;
    transition: all 0.4s;
  }
}
/*
.active {
  color: #e06733;
}
*/
@media (max-width: 768px) {
  .header {
    max-width: 768px;
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;

    color: #010201;
    &_logo {
        padding-right: 62px;
        padding-top: 35px;
        padding-bottom: 50px;
        margin-left: 45px;
      }
    &_navigation {
        padding-top: 0px;
      }
    &_ul {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  }
}
@media (max-width:380px) {
  body{
    
    background: #212121;
        
    }
    
    
    #burger-container{
        position: absolute;
        z-index: 3;
        /*
        position:relative;
        */
        margin:32px auto;
        width:50px;
        margin-left: 130px;
    }
    
    
    #burger{
        cursor:pointer;
        display:block;
    }
    
    
    #burger span{
        background: #717171;
        display:block;
        width:40px;
        height:5px;
        margin-bottom: 3px;
        position: relative;
        top:0;
        transition: all ease-in-out 0.4s;  
    }
    
    #burger-container.open span:nth-child(2),
    #burger-container.open span:nth-child(3){
        width: 0;
        opacity:0;
        
    }
    
    #burger-container.open span:nth-child(1){
    
        transform: rotate(-45deg);
        top:36px;
    }
    
    #burger-container.open span:nth-child(4){
        transform: rotate(45deg);
        top:-36px;
    }
    
    /*
    footer{
      position:fixed;
      top:80%;
      width:100%;
      height:50px;
      right:auto;
      box-sizing:border-box;
      padding-right:50px;
    }
    footer img{
      height:50px;
      filter:invert(100%);
      float:left;
    }
    footer p{
      
        font-family: 'Righteous', cursive;
        font-size: 1.2em;
        margin-top:13px;
    }
    footer a{
      color:#fff;
      text-decoration:none;
      display:inline-block;
      width:250px;
      float:right;
      opacity:1;
      transition:.2s ease-in-out;
    }
    footer a:hover{
      opacity:.6;
      transition:.2s ease-in-out;
    }
    */
    
  .header {
    max-width: 380px;
    //background-color: #e06733;
    color: #010201;
    &_logo {
        margin-left: 20px;
        width: 152px;
        line-height: 19px;
        /*
        padding-right: 62px;
        padding-top: 35px;
        padding-bottom: 50px;
        margin-left: 45px;
        */
      }
    &_navigation {
              
      }
    &_ul {
      position:absolute;
      z-index: 2;
      /*
      display: none;
      */
      /*
        margin-top: 0px;
        margin-bottom: 0px;
        */
      }
      &_navbar {
        margin-left: 630px;
        background-color: rebeccapurple;
        flex-direction: column;
      }
  }
  }
.work {
  right: -182px;
  position:absolute;
}
  /*
}
*/