.buttons {
    text-transform: uppercase;
    width: 158px;
    height: 44px;
    border-radius: 10px;
}

button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    //margin-right: 39px;
    //margin-top: 68px;
    
    width: 160px;
    height: 51px;
    border-radius: 4px;
    color: #E06733;
    border: 1px solid #E06733;
    cursor: pointer;
}
