/*
@media screen and (max-width: 1440px) {
    body {
        background: rebeccapurple;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: red;
    }
}
*/
* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 110px;
  //cursor: default;

  &_welcome {
    background: #edf2ec;
    display: flex;
  }

  &_left {
    padding-top: 57px;
    padding-right: 210px;
    padding-bottom: 54px;
  }

  /*
      &_imageleafs {
  
      }
      &_right {
  
      }*/

  &_item {
    padding-bottom: 5px;
    padding-top: 70px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
  }

  &_spans {
    color: #499a18;
  }

  &_mytext {
    padding-bottom: 39px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
  }

  &_mybutton {
    text-transform: uppercase;
    width: 158px;
    height: 44px;
    border: 2px solid #e06733;
    border-radius: 10px;
  }

  &_about {
    display: flex;
    justify-content: space-between;
  }

  &_lefttwo {
    padding-bottom: 100px;
    max-width: 588px;
    padding-top: 126px;

    h2 {
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: "Inika";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #e06733;

      span {
        color: #499a18;
      }
    }

    p {
      padding-top: 0px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      color: #636060;
    }
  }

  &_righttwo {
    padding-bottom: 92px;
  }

  &_rightimage {
    padding-top: 92px;
  }

  &_service {
    background: #edf2ec;
    padding-bottom: 50px;
    max-width: 1440px;

    h2 {
      padding-top: 10px;
      background: #edf2ec;
      font-family: "Inika";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #499a18;
      padding-right: 158px;
    }

    button {
      font-family: "Inika";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      margin-right: 39px;
      margin-top: 68px;

      width: 160px;
      height: 51px;
      border-radius: 4px;
      color: #e06733;
      border: 1px solid #e06733;
    }
  }

  &_box {
    display: flex;
    padding-bottom: 54px;
  }

  &_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 116px;
    padding-bottom: 70px;
  }

  &_tablet:hover {
    transform: scale(1.2);
  }

  &_tablet {
    border: 1px solid #e3e1d5;
    //background: #E06733;
    justify-items: center;
    width: 330px;
    height: 450px;
    text-align: center;
    border-radius: 20px;
    transition: 1s;

    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 2px;
      color: #e06733;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #717171;
    }
  }

  &_prices {
    display: flex;
    justify-content: space-between;
  }

  &_myprices {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 37px;
    color: #000000;
    width: 50%;
    margin-bottom: 128px;
  }

  &_helpyou {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 55px;
    width: 50%;

    text-align: right;
    color: #000000;
  }

  button {
    margin-left: 10px;
  }

  span {
    color: #499a18;
  }

  &_pricesitem {
    width: 332px;
    height: 282px;
    border: 1px solid #717171;
    border-radius: 22px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }

  select {
    appearance: none;
    background: url("../images/arrow-grey-btn.svg") no-repeat 92% center;
    outline: 0;
    background-color: #edf2ec;
    width: 250px;
    margin-bottom: 37px;
    border-radius: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    border: 0px;

    color: #000000;
    padding: 15px 5px 15px 34px;
    cursor: pointer;
  }
}

.leafs {
  width: 152px;
}

.contentsection {
  margin-left: 440px;

  &_leafs {
    margin-top: 28px;
  }
}

.section {
  &_contacts {
    background: #edf2ec;
    display: flex;
    padding-top: 53px;

    h2 {
      font-family: "Inika";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 4px;

      color: #499a18;
      margin-left: 113px;
    }

    select {
      margin-top: 20px;
      margin-left: 370px;
      width: 450px;
      color: #aea1a1;
      border: none;
      background: url(../images/arrow-grey-btn.svg) no-repeat 92% center;
      outline: 0;
      background-color: #d6e7d2;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      border-radius: 0px;
      padding: 10px 5px 10px 34px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }
  }
}

@media (max-width:768px) {

  .section {

    &_welcome {
      padding: 0 46px;
    }


    &_left {
      order: 2;

      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;

    }


    &_imageleafs {
      width: 261px;
      padding-top: 28px;
    }

    &_right {
      width: 417px;
    }

    &_item {

      padding-bottom: 0px;
      padding-top: 0px;
      font-family: "Inter";
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
      color: #717171;

    }

    &_spans {}


    &_mytext {

      padding-bottom: 13px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #636060;

    }

    &_mybutton {
      margin-bottom: 70px;
    }

    &_about {

      display: flex;
      flex-wrap: wrap;
    }

    &_lefttwo {
      padding-top: 0px;
      padding-bottom: 0px;

      h2 {

        padding-left: 90px;
        padding-right: 10px;
        padding-top: 5px;

        padding-bottom: 22px;

        font-family: "Inika";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 50px;
        color: #e06733;


        span {}
      }

      p {

        padding-top: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #636060;

      }
    }

    &_righttwo {}

    &_rightimage {
      width: 250px;
      padding-top: 53px;
      margin-left: 152px;
    }

    &_service {
      padding: 0 50px;

      h2 {

        padding-top: 25px;
        padding-bottom: 9px
      }

      button {
        margin-top: 0px;
        margin-left: 0px;
      }
    }

    &_box {
      display: flex;
      flex-wrap: wrap;

      padding-bottom: 38px;

      div {
        display: flex;
        flex-wrap: nowrap;
      }
    }

    &_content {

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 38px 107px;
    }

    &_tablet:hover {}

    &_tablet {

      border: 1px solid #e3e1d5;
      justify-items: center;
      width: 280px;
      height: 451px;
      text-align: center;
      border-radius: 20px;
      transition: 1s;

      h3 {}

      p {}
    }

    &_imagetablet {
      width: 280px;
      height: 350px;
    }

    &_prices {
      padding: 0 52px;
    }

    &_myprices {
      margin-bottom: 163px;
    }

    &_helpyou {

      font-weight: 700;
      font-size: 18px;
      line-height: 38px;
      width: 50%;

      text-align: right;
      color: #000000;
      padding-top: 113px;
    }

    button {
      margin-left: 4px;
    }

    span {}

    &_pricesitem {}

    select {}
  }

  .leafs {}

  .contentsection {
    margin-left: 0px;
  }
}

.section {
  &_left1 {
    order: 2;
    margin: 0 auto;

    img {
      width: 230px;
      padding-top: 180px;
    }
  }

  &_right1 {
    margin: 0 auto;

  }

  &_contacts {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;

    h2 {
      padding-top: 22px;
      padding-bottom: 66px;
    }

    select {
      margin-left: 0px;
    }
  }
}

@media (max-width: 380px) {

  .section {
    max-width: 380px;

    &_welcome {
      padding: 0 27px;
    }


    &_left {
      display: none;
      /*
      order: 2;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      */
    }


    &_imageleafs {
      width: 261px;
      padding-top: 28px;
    }

    &_right {
      width: 417px;
    }

    &_item {

      font-size: 24px;
      line-height: 29px;
      /*
      padding-bottom: 0px;
      padding-top: 0px;
      font-family: "Inter";
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
      color: #717171;
      */
    }

    &_spans {}


    &_mytext {

      padding-bottom: 13px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #636060;

    }

    &_mybutton {
      margin-bottom: 70px;
    }

    &_about {
      background-color: #fff;
      padding: 10px 35px 10px 35px;
      display: flex;
      flex-wrap: wrap;
    }

    &_lefttwo {
      padding-top: 0px;
      padding-bottom: 0px;

      h2 {

        padding-left: 0px;
        padding-right: 0px;
        padding-top: 6px;

        padding-bottom: 0px;
        text-align: center;
        font-family: "Inika";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        color: #e06733;


        span {}
      }

      p {
        margin-bottom: 0px;
        padding-top: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #636060;

      }
    }

    &_righttwo {
      padding-bottom: 10px;
    }

    &_rightimage {
      width: 150px;
      padding-top: 4px;
      margin-left: 78px;
    }

    &_service {
      padding: 0 25px;

      h2 {
        padding-top: 30px;
        padding-bottom: 45px;
        margin: 0px;
        font-size: 25px;
        line-height: 32px;
        padding-right: 0px;

      }

      button {
        margin-top: 0px;
        margin-left: 0px;
      }
    }

    &_box {
      display: flex;
      flex-wrap: wrap;

      padding-bottom: 25px;

      div {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &_content {

      display: grid;
      grid-template-columns: 1fr;
      gap: 32px 50px;
      padding-bottom: 31px;
    }

    &_tablet:hover {}

    &_tablet {
      margin: 0 auto;
      border: 1px solid #e3e1d5;
      justify-items: center;
      width: 280px;
      height: 451px;
      text-align: center;
      border-radius: 20px;
      transition: 1s;

      h3 {
        
      }

      p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 15px;
      }
    }

    &_imagetablet {
      width: 280px;
      height: 350px;
    }

    &_prices {
      background-color: #fff;
      padding: 0 52px;
      display: flex;
      flex-direction: column;
    }

    &_myprices {
      width: 100%;
      margin: 0 auto;
      font-size: 22px;
      margin-bottom: 5px;

      h3 {
        text-align: center;
      }
    }

    &_helpyou {

      font-weight: 700;
      font-size: 14px;
      line-height: 34px;
      width: 100%;
      text-align: center;

      //text-align: right;
      color: #000000;
      padding-top: 0px;
    }

    button {
      margin-top: 0.5px;
      margin-right: 2px;
      width: 121px;
      height: 34px;
      border-radius: 3px;
      margin-left: 0px;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 13px;
    }

    span {

    }

    &_pricesitem {
      margin: 0 auto;
      width: 223px;
      height: 237px;
      margin-top: 28px;
    }

    select {
      width: 180px;
      margin-bottom: 13px;
      //border-radius: 27px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .leafs {
    
  }

  .contentsection {
    height: 73px;
    margin-left: 0px;
    &_leafs {
      display: none;
    }
  }
}

.section {
  //padding: 0px 0px;
  &_left1 {
    order: 2;
    margin: 0 auto;

    img {
      width: 100px;
      padding-top: 132px;
    }
  }

  &_right1 {
    margin: 0 auto;

  }

  &_contacts {
    padding: 0px;
    max-width: 768px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0px;
    flex-direction: column;
    //justify-content: center;
    

    h2 {
      padding-top: 22px;
      padding-bottom: 52px;
      font-size: 25px;
      margin-left: 0px;
      text-align: center;
    }

    select {
      margin-left: 0px;
      width: 300px;
    }
  }
}