/*
@media screen and (max-width: 1440px) {
    body {
        background: rebeccapurple;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: red;
    }
}
*/
* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    //margin-top: -16px;
    //font-family: 'Inika', normal;
}

.section {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 110px;

    &_welcome {
        background: #edf2ec;
        display: flex;
    }

    &_left {
        padding-top: 57px;
        padding-right: 210px;
        padding-bottom: 54px;
    }

    /*
      &_imageleafs {
  
      }
      &_right {
  
      }*/

    &_item {
        padding-bottom: 5px;
        padding-top: 70px;
        font-family: "Inter";
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        color: #717171;
    }

    &_spans {
        color: #499a18;
    }

    &_mytext {
        padding-bottom: 28px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: #636060;
    }

    &_mybutton {
        text-transform: uppercase;
        width: 158px;
        height: 44px;
        border: 2px solid #E06733;
        border-radius: 10px;
    }

    &_about {
        display: flex;
        justify-content: space-between;
    }

    &_lefttwo {
        padding-bottom: 100px;
        max-width: 588px;
        padding-top: 126px;

        h2 {
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Inika';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: #E06733;

            span {
                color: #499A18;
            }
        }

        p {
            padding-top: 0px;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #636060;
        }
    }

    &_righttwo {
        padding-bottom: 92px;
    }

    &_rightimage {
        padding-top: 92px;
    }

    &_service {
        display: flex;
        background: #EDF2EC;
        padding-bottom: 50px;
        h2 {
            padding-top: 10px;
            background: #EDF2EC;
            font-family: 'Inika';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: #499A18;
            padding-right: 158px;
        }

        button {
            font-family: 'Inika';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            margin-right: 39px;
            margin-top: 68px;
            
            width: 160px;
            height: 51px;
            border-radius: 4px;
            color: #E06733;
            border: 1px solid #E06733;
        }

    }
}